<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="automation exercise">
    <test name="register user">
        <classes>
            <class name="case6"></class>
            <class name="case7"></class>
        </classes>
    </test>
</suite>