<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="automation exercise">
    <test name="Register user">
        <classes>
            <class name="TestCase1"></class>
            <class name="TestCase2"></class>
            <class name="TestCase5"></class>

        </classes>
    </test>
</suite>